@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	img {
		@apply aspect-square object-cover;
	}
}

@layer components {
	.icon-style {
		@apply h-7 w-7 [&>g]:fill-white;
	}
}

/* Fonts */
@font-face {
	font-family: "seque";
	src: url("../fonts/segoe_ui-webfont.woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "seque";
	src: url("../fonts/segoe_ui_bold-webfont.woff2");
	font-weight: 700;
	font-style: bold;
}
@font-face {
	font-family: "seque";
	src: url("../fonts/segoe_ui_italic-webfont.woff2");
	font-weight: 400;
	font-style: italic;
}

.open {
	@apply translate-y-0;
}

.notification {
	@apply relative after:absolute after:-top-[2px] after:left-[18px] after:h-2 after:w-2 after:rounded-full after:border after:border-black after:bg-sky-400 after:content-[''];
}
