<aside class="sticky top-0 hidden h-screen pt-4 lg:flex lg:flex-col">
	% if cookie_user:
	<div class="flex flex-col gap-4">
		<div class="flex items-center w-full gap-3 px-4 py-3 text-base rounded-full bg-zinc-900">
			<svg
				viewBox="0 0 24 24"
				aria-hidden="true"
				class="flex-shrink-0 w-6 h-6 [&>g>path]:fill-gray-500"
			>
				<g>
					<path
						d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"
					></path>
				</g>
			</svg>
			<input type="text" class="w-full outline-none bg-inherit" placeholder="Search Twitter" />
		</div>
		<div class="pt-4 overflow-hidden bg-zinc-900 rounded-xl">
			<h2 class="px-4 bold">Trends for you</h2>
			<div class="flex flex-col pt-4">
				% for trend in trends:
				<div
					class="flex items-center justify-between w-full px-4 py-2 hover:bg-zinc-800 hover:cursor-pointer"
				>
					<div class="flex flex-col">
						<span class="text-xs text-gray-500">Trending in Denmark</span>
						<span class="text-sm font-bold">{{trend["trend_trendname"]}}</span>
						<span class="text-xs text-gray-500">{{trend["trend_tweets_amount"]}} tweets</span>
					</div>

					<a
						href="#"
						class="flex items-center p-2 ml-auto transition duration-200 rounded-full group hover:bg-sky-400/10"
						><i class="text-gray-500 fa-solid fa-ellipsis group-hover:text-sky-400"></i
					></a>
				</div>
				% end

				<a
					href="#"
					class="inline-block px-4 py-2 text-base hover:bg-zinc-800 hover:cursor-pointer text-sky-400"
					>Show more</a
				>
			</div>
		</div>

		<div class="pt-4 overflow-hidden bg-zinc-900 rounded-xl">
			<h2 class="px-3 bold">Who to follow</h2>
			<div class="flex flex-col">
				% for follow in who_to_follow:
				<a
					href="/{{follow['user_username']}}"
					class="flex items-start gap-4 p-3 transition duration-200 cursor-pointer hover:bg-zinc-800"
				>
					<div class="w-12 overflow-hidden rounded-full h-fit">
						% if follow.get("user_avatar",):
						<img class="w-full shrink-0" src="images/{{follow['user_avatar']}}" alt="" />
						% else:
						<img class="w-full shrink-0" src="images/default_profile.png" alt="" />
						% end
					</div>
					<div class="flex flex-col truncate">
						<span class="flex gap-0.5">
							<p class="text-base truncate bold">
								{{follow["user_first_name"]}} {{follow["user_last_name"]}}
							</p>
							% if int(follow["user_total_followers"]) > 1000000:
							<svg
								class="text-sky-400"
								xmlns="http://www.w3.org/2000/svg"
								width="20"
								height="20"
								fill="currentColor"
								viewBox="0 0 16 16"
							>
								<path
									d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
								/>
							</svg>
							% end
						</span>
						<span class="text-sm text-neutral-600">@{{follow['user_username']}}</span>
					</div>
					<div
						class="px-3 py-1 ml-auto text-base text-black transition duration-200 bg-white rounded-full hover:bg-slate-200"
					>
						Follow
					</div>
				</a>
				% end

				<a
					href="/suggestions"
					class="inline-block p-3 text-base hover:bg-zinc-800 hover:cursor-pointer text-sky-400"
					>Show more</a
				>
			</div>
		</div>
	</div>
	% end
	<!-- prettier-ignore -->
	% if not cookie_user:

	<div class="p-4 space-y-2 border rounded-2xl border-neutral-600">
		<h2 class="text-xl font-bold text-gray-200">New on twitter?</h2>
		<p class="text-xs text-gray-500">Sign up now, and get your personalized twitter feed</p>
		<div class="flex flex-col w-full">
			<div class="flex flex-col items-center justify-center w-full gap-2">
				<button
					disabled
					class="flex items-center justify-center w-full h-10 gap-2 text-sm text-black transition-colors duration-200 bg-white rounded-full cursor-not-allowed hover:bg-gray-100"
				>
					<svg
						class="w-5 h-5"
						xmlns="http://www.w3.org/2000/svg"
						width="31.27"
						height="32"
						viewBox="0 0 256 262"
					>
						<path
							fill="#4285F4"
							d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
						/>
						<path
							fill="#34A853"
							d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
						/>
						<path
							fill="#FBBC05"
							d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
						/>
						<path
							fill="#EB4335"
							d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
						/>
					</svg>
					Sign in with Google
				</button>
				<button
					disabled
					class="flex items-center justify-center w-full h-10 gap-2 text-sm font-bold text-black transition-colors duration-200 bg-white rounded-full cursor-not-allowed hover:bg-gray-100"
				>
					<svg
						class="w-5 h-5"
						xmlns="http://www.w3.org/2000/svg"
						width="26.01"
						height="32"
						viewBox="0 0 256 315"
					>
						<path
							d="M213.803 167.03c.442 47.58 41.74 63.413 42.197 63.615c-.35 1.116-6.599 22.563-21.757 44.716c-13.104 19.153-26.705 38.235-48.13 38.63c-21.05.388-27.82-12.483-51.888-12.483c-24.061 0-31.582 12.088-51.51 12.871c-20.68.783-36.428-20.71-49.64-39.793c-27-39.033-47.633-110.3-19.928-158.406c13.763-23.89 38.36-39.017 65.056-39.405c20.307-.387 39.475 13.662 51.889 13.662c12.406 0 35.699-16.895 60.186-14.414c10.25.427 39.026 4.14 57.503 31.186c-1.49.923-34.335 20.044-33.978 59.822M174.24 50.199c10.98-13.29 18.369-31.79 16.353-50.199c-15.826.636-34.962 10.546-46.314 23.828c-10.173 11.763-19.082 30.589-16.678 48.633c17.64 1.365 35.66-8.964 46.64-22.262"
						/>
					</svg>
					Sign in with Apple
				</button>
				<a
					href="/login"
					class="flex items-center justify-center w-full h-10 gap-2 text-sm font-bold text-black transition-colors duration-200 bg-white rounded-full hover:bg-gray-100"
				>
					Sign up
				</a>
				<div>
					<p class="text-xs text-gray-500">
						By signing up, you agree to our
						<a href="#" class="text-blue-500">Terms of Service</a> and
						<a href="#" class="text-blue-500">Privacy Policy</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div
		class="[&>*]:text-xs px-4 pt-4 [&>*]:text-gray-500 flex flex-wrap gap-x-4 gap-y-2 [&>*]:leading-tight"
	>
		<a href="#">Terms of service</a>
		<a href="#">Privacy Policy</a>
		<a href="#">Cookie Policy</a>
		<a href="#">Accesibility</a>
		<a href="#">Addsinfo</a>
		<a href="#">More</a>
		<span>&copy; 2023 Twitter, Inc.</span>
	</div>
	% end
</aside>
