% include('header', title=title)
<main class="grid h-full max-w-3xl grid-cols-12 mx-auto lg:max-w-7xl lg:gap-6">
	<!-- Left -->
	% include('side_menu')
	<!-- End left -->

	<!-- Center -->
	<section class="w-full col-span-10 sm:mx-auto lg:col-span-6 border-x border-neutral-800">
		<!-- top -->
		<div class="flex items-center gap-4">
			<a
				href="/"
				class="relative p-4 w-14 h-14 after:absolute after:top-1/2 after:left-1/2 after:w-9 after-content-[''] after:rounded-full after:-z-10 after:h-9 hover:after:bg-neutral-600/30 after:-translate-x-1/2 after:-translate-y-1/2 after:transition after:duration-200"
			>
				<svg
					class="relative z-0 w-full h-full"
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					viewBox="0 0 24 24"
				>
					<path
						fill="currentColor"
						d="M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20v-2z"
					/>
				</svg>
			</a>
			<div class="flex flex-col">
				<h2 class="font-bold leading-6">Connect</h2>
		</div>
	</div>
	<div>
		<h2 class="py-4 font-bold">Suggested for you</h2>
			% for user in users:
				<a
					href="/{{user['user_username']}}"
					class="flex items-start gap-4 p-3 transition duration-200 cursor-pointer hover:bg-zinc-800"
				>
				<div class="w-12 overflow-hidden rounded-full shrink-0 h-fit">
					% if user['user_avatar'] != None :
					<img class="w-full shrink-0" src="./images/{{user['user_avatar']}}" alt="" />
					% else :
					<img class="w-full shrink-0" src="./images/default_profile.png" alt="" />
					% end
				</div>
				<div>

					<div class="flex items-start w-full gap-4">
						<div class="flex flex-col truncate">
							<span class="flex gap-0.5">
								<p class="text-base truncate bold">
									{{user["user_first_name"]}} {{user["user_last_name"]}}
								</p>
								% if int(user["user_total_followers"]) > 1000000:
								<svg
									class="text-sky-400"
									xmlns="http://www.w3.org/2000/svg"
									width="20"
									height="20"
									fill="currentColor"
									viewBox="0 0 16 16"
								>
									<path
										d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
									/>
								</svg>
								% end
							</span>
							<span class="text-sm text-neutral-600">@{{user['user_username']}}</span>

						</div>
					<div
						class="px-3 py-1 ml-auto text-base text-black transition duration-200 bg-white rounded-full hover:bg-slate-200"
					>
						Follow
					</div>
					</div>
					<p class="text-base whitespace-normal">{{user["user_description"]}}</p>
				</div>
				</a>
				% end
			</div>
		<!-- top end -->

	</section>
	<!-- End center -->

	<!-- Right -->
	<aside class="sticky top-0 hidden h-screen pt-4 lg:col-span-3 lg:flex lg:flex-col">
		<div class="flex flex-col gap-4">
			<div class="flex items-center w-full gap-3 px-4 py-3 text-base rounded-full bg-zinc-900">
				<svg
					viewBox="0 0 24 24"
					aria-hidden="true"
					class="flex-shrink-0 w-6 h-6 [&>g>path]:fill-gray-500"
				>
					<g>
						<path
							d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"
						></path>
					</g>
				</svg>
				<input type="text" class="w-full outline-none bg-inherit" placeholder="Search Twitter" />
			</div>
			<div class="pt-4 overflow-hidden bg-zinc-900 rounded-xl">
				<h2 class="px-4 bold">Trends for you</h2>
				<div class="flex flex-col pt-4">
					% for trend in trends:
					<div
						class="flex items-center justify-between w-full px-4 py-2 hover:bg-zinc-800 hover:cursor-pointer"
					>
						<div class="flex flex-col">
							<span class="text-xs text-gray-500">Trending in Denmark</span>
							<span class="text-sm font-bold">{{trend["title"]}}</span>
							<span class="text-xs text-gray-500">{{trend["total_hash"]}} tweets</span>
						</div>

						<a
							href="#"
							class="flex items-center p-2 ml-auto transition duration-200 rounded-full group hover:bg-sky-400/10"
							><i class="text-gray-500 fa-solid fa-ellipsis group-hover:text-sky-400"></i
						></a>
					</div>
					% end

					<div
						class="flex items-center justify-between w-full px-4 py-2 hover:bg-zinc-800 hover:cursor-pointer"
					>
						<div class="flex flex-col">
							<span class="text-xs text-gray-500">Trending in Denmark</span>
							<span class="text-sm font-bold">Rasmus</span>
							<span class="text-xs text-gray-500">2,358 Tweets</span>
						</div>

						<a
							href="#"
							class="flex items-center p-2 ml-auto transition duration-200 rounded-full group hover:bg-sky-400/10"
							><i class="text-gray-500 fa-solid fa-ellipsis group-hover:text-sky-400"></i
						></a>
					</div>
					<a
						href="#"
						class="inline-block px-4 py-2 text-base hover:bg-zinc-800 hover:cursor-pointer text-sky-400"
						>Show more</a
					>
				</div>
			</div>
			</div>
		</div>
	</aside>

	<!-- End right -->
</main>
<!-- Chat -->
<div
	data-chat
	class="w-3/12 h-1/2 translate-y-[90%] transition duration-300 bg-black fixed flex flex-col gap-2 right-10 bottom-0 shadow-chat py-3 rounded-t-2xl"
>
	<div data-chat-header class="flex justify-between px-4 cursor-pointer">
		<h3>Messages</h3>
		<div class="flex gap-4">
			<button>
				<svg
					viewBox="0 0 24 24"
					aria-hidden="true"
					class="w-5 h-5 icon-style"
					style="color: rgb(239, 243, 244)"
				>
					<g>
						<path
							d="M1.998 5.5c0-1.381 1.119-2.5 2.5-2.5h15c1.381 0 2.5 1.119 2.5 2.5V12h-2v-1.537l-8 3.635-8-3.635V18.5c0 .276.224.5.5.5H13v2H4.498c-1.381 0-2.5-1.119-2.5-2.5v-13zm2 2.766l8 3.635 8-3.635V5.5c0-.276-.224-.5-.5-.5h-15c-.276 0-.5.224-.5.5v2.766zM19 18v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z"
						></path>
					</g>
				</svg>
			</button>
			<button data-close-icon>
				<svg
					viewBox="0 0 24 24"
					aria-hidden="true"
					class="w-5 h-5 icon-style"
					style="color: rgb(239, 243, 244)"
				>
					<g>
						<path
							d="M12 2.59l9.46 9.45-1.42 1.42L12 5.41l-8.04 8.05-1.42-1.42L12 2.59zm0 7l9.46 9.45-1.42 1.42L12 12.41l-8.04 8.05-1.42-1.42L12 9.59z"
						></path>
					</g>
				</svg>
			</button>
		</div>
	</div>
	<div class="flex flex-col overflow-scroll">
		<a href="#" class="flex gap-4 px-4 py-4 transition duration-200 group/chat hover:bg-zinc-800">
			<div class="w-12 overflow-hidden rounded-full h-11">
				<img src="./images/1.jpg" alt="" />
			</div>
			<div class="flex flex-col justify-start w-full">
				<div class="flex justify-start gap-1">
					<p class="text-base font-bold">Elon Musk</p>
					<p class="text-base text-neutral-500">@elonmusk</p>
					<div class="flex gap-2 ml-auto">
						<span class="text-base text-neutral-500">&#x2022; Jan 21</span>
						<div
							class="ml-auto group-hover/chat:flex cursor-pointer hidden group/icon rounded-full items-center transition duration-200 after:content-[''] after:w-7 after:h-7 hover:after:bg-sky-400/10 relative after:absolute after:-translate-x-1/2 after:-translate-y-1/2 after:top-1/2 after:left-1/2 after:rounded-full"
						>
							<i class="text-gray-500 fa-solid fa-ellipsis group-hover/icon:text-sky-400"></i>
						</div>
					</div>
				</div>
				<p class="w-1/2 overflow-hidden text-base text-neutral-500 text-ellipsis whitespace-nowrap">
					Hi ma-dude! Lets talk about the project!
				</p>
			</div>
		</a>
		<a href="#" class="flex gap-4 px-4 py-4 transition duration-200 group/chat hover:bg-zinc-800">
			<div class="w-12 overflow-hidden rounded-full h-11">
				<img src="./images/1.jpg" alt="" />
			</div>
			<div class="flex flex-col justify-start w-full">
				<div class="flex justify-start gap-1">
					<p class="text-base font-bold">Elon Musk</p>
					<p class="text-base text-neutral-500">@elonmusk</p>
					<div class="flex gap-2 ml-auto">
						<span class="text-base text-neutral-500">&#x2022; Jan 21</span>
						<div
							class="ml-auto group-hover/chat:flex cursor-pointer hidden group/icon rounded-full items-center transition duration-200 after:content-[''] after:w-7 after:h-7 hover:after:bg-sky-400/10 relative after:absolute after:-translate-x-1/2 after:-translate-y-1/2 after:top-1/2 after:left-1/2 after:rounded-full"
						>
							<i class="text-gray-500 fa-solid fa-ellipsis group-hover/icon:text-sky-400"></i>
						</div>
					</div>
				</div>
				<p class="w-1/2 overflow-hidden text-base text-neutral-500 text-ellipsis whitespace-nowrap">
					Hi ma-dude! Lets talk about the project!
				</p>
			</div>
		</a>
		<a href="#" class="flex gap-4 px-4 py-4 transition duration-200 group/chat hover:bg-zinc-800">
			<div class="w-12 overflow-hidden rounded-full h-11">
				<img src="./images/1.jpg" alt="" />
			</div>
			<div class="flex flex-col justify-start w-full">
				<div class="flex justify-start gap-1">
					<p class="text-base font-bold">Elon Musk</p>
					<p class="text-base text-neutral-500">@elonmusk</p>
					<div class="flex gap-2 ml-auto">
						<span class="text-base text-neutral-500">&#x2022; Jan 21</span>
						<div
							class="ml-auto group-hover/chat:flex cursor-pointer hidden group/icon rounded-full items-center transition duration-200 after:content-[''] after:w-7 after:h-7 hover:after:bg-sky-400/10 relative after:absolute after:-translate-x-1/2 after:-translate-y-1/2 after:top-1/2 after:left-1/2 after:rounded-full"
						>
							<i class="text-gray-500 fa-solid fa-ellipsis group-hover/icon:text-sky-400"></i>
						</div>
					</div>
				</div>
				<p class="w-1/2 overflow-hidden text-base text-neutral-500 text-ellipsis whitespace-nowrap">
					Hi ma-dude! Lets talk about the project!
				</p>
			</div>
		</a>
		<a href="#" class="flex gap-4 px-4 py-4 transition duration-200 group/chat hover:bg-zinc-800">
			<div class="w-12 overflow-hidden rounded-full h-11">
				<img src="./images/1.jpg" alt="" />
			</div>
			<div class="flex flex-col justify-start w-full">
				<div class="flex justify-start gap-1">
					<p class="text-base font-bold">Elon Musk</p>
					<p class="text-base text-neutral-500">@elonmusk</p>
					<div class="flex gap-2 ml-auto">
						<span class="text-base text-neutral-500">&#x2022; Jan 21</span>
						<div
							class="ml-auto group-hover/chat:flex cursor-pointer hidden group/icon rounded-full items-center transition duration-200 after:content-[''] after:w-7 after:h-7 hover:after:bg-sky-400/10 relative after:absolute after:-translate-x-1/2 after:-translate-y-1/2 after:top-1/2 after:left-1/2 after:rounded-full"
						>
							<i class="text-gray-500 fa-solid fa-ellipsis group-hover/icon:text-sky-400"></i>
						</div>
					</div>
				</div>
				<p class="w-1/2 overflow-hidden text-base text-neutral-500 text-ellipsis whitespace-nowrap">
					Hi ma-dude! Lets talk about the project!
				</p>
			</div>
		</a>
		<a href="#" class="flex gap-4 px-4 py-4 transition duration-200 group/chat hover:bg-zinc-800">
			<div class="w-12 overflow-hidden rounded-full h-11">
				<img src="./images/1.jpg" alt="" />
			</div>
			<div class="flex flex-col justify-start w-full">
				<div class="flex justify-start gap-1">
					<p class="text-base font-bold">Elon Musk</p>
					<p class="text-base text-neutral-500">@elonmusk</p>
					<div class="flex gap-2 ml-auto">
						<span class="text-base text-neutral-500">&#x2022; Jan 21</span>
						<div
							class="ml-auto group-hover/chat:flex cursor-pointer hidden group/icon rounded-full items-center transition duration-200 after:content-[''] after:w-7 after:h-7 hover:after:bg-sky-400/10 relative after:absolute after:-translate-x-1/2 after:-translate-y-1/2 after:top-1/2 after:left-1/2 after:rounded-full"
						>
							<i class="text-gray-500 fa-solid fa-ellipsis group-hover/icon:text-sky-400"></i>
						</div>
					</div>
				</div>
				<p class="w-1/2 overflow-hidden text-base text-neutral-500 text-ellipsis whitespace-nowrap">
					Hi ma-dude! Lets talk about the project!
				</p>
			</div>
		</a>
		<a href="#" class="flex gap-4 px-4 py-4 transition duration-200 group/chat hover:bg-zinc-800">
			<div class="w-12 overflow-hidden rounded-full h-11">
				<img src="./images/1.jpg" alt="" />
			</div>
			<div class="flex flex-col justify-start w-full">
				<div class="flex justify-start gap-1">
					<p class="text-base font-bold">Elon Musk</p>
					<p class="text-base text-neutral-500">@elonmusk</p>
					<div class="flex gap-2 ml-auto">
						<span class="text-base text-neutral-500">&#x2022; Jan 21</span>
						<div
							class="ml-auto group-hover/chat:flex cursor-pointer hidden group/icon rounded-full items-center transition duration-200 after:content-[''] after:w-7 after:h-7 hover:after:bg-sky-400/10 relative after:absolute after:-translate-x-1/2 after:-translate-y-1/2 after:top-1/2 after:left-1/2 after:rounded-full"
						>
							<i class="text-gray-500 fa-solid fa-ellipsis group-hover/icon:text-sky-400"></i>
						</div>
					</div>
				</div>
				<p class="w-1/2 overflow-hidden text-base text-neutral-500 text-ellipsis whitespace-nowrap">
					Hi ma-dude! Lets talk about the project!
				</p>
			</div>
		</a>
		<a href="#" class="flex gap-4 px-4 py-4 transition duration-200 group/chat hover:bg-zinc-800">
			<div class="w-12 overflow-hidden rounded-full h-11">
				<img src="./images/1.jpg" alt="" />
			</div>
			<div class="flex flex-col justify-start w-full">
				<div class="flex justify-start gap-1">
					<p class="text-base font-bold">Elon Musk</p>
					<p class="text-base text-neutral-500">@elonmusk</p>
					<div class="flex gap-2 ml-auto">
						<span class="text-base text-neutral-500">&#x2022; Jan 21</span>
						<div
							class="ml-auto group-hover/chat:flex cursor-pointer hidden group/icon rounded-full items-center transition duration-200 after:content-[''] after:w-7 after:h-7 hover:after:bg-sky-400/10 relative after:absolute after:-translate-x-1/2 after:-translate-y-1/2 after:top-1/2 after:left-1/2 after:rounded-full"
						>
							<i class="text-gray-500 fa-solid fa-ellipsis group-hover/icon:text-sky-400"></i>
						</div>
					</div>
				</div>
				<p class="w-1/2 overflow-hidden text-base text-neutral-500 text-ellipsis whitespace-nowrap">
					Hi ma-dude! Lets talk about the project!
				</p>
			</div>
		</a>
		<a href="#" class="flex gap-4 px-4 py-4 transition duration-200 group/chat hover:bg-zinc-800">
			<div class="w-12 overflow-hidden rounded-full h-11">
				<img src="./images/1.jpg" alt="" />
			</div>
			<div class="flex flex-col justify-start w-full">
				<div class="flex justify-start gap-1">
					<p class="text-base font-bold">Elon Musk</p>
					<p class="text-base text-neutral-500">@elonmusk</p>
					<div class="flex gap-2 ml-auto">
						<span class="text-base text-neutral-500">&#x2022; Jan 21</span>
						<div
							class="ml-auto group-hover/chat:flex cursor-pointer hidden group/icon rounded-full items-center transition duration-200 after:content-[''] after:w-7 after:h-7 hover:after:bg-sky-400/10 relative after:absolute after:-translate-x-1/2 after:-translate-y-1/2 after:top-1/2 after:left-1/2 after:rounded-full"
						>
							<i class="text-gray-500 fa-solid fa-ellipsis group-hover/icon:text-sky-400"></i>
						</div>
					</div>
				</div>
				<p class="w-1/2 overflow-hidden text-base text-neutral-500 text-ellipsis whitespace-nowrap">
					Hi ma-dude! Lets talk about the project!
				</p>
			</div>
		</a>
	</div>
</div>
<!-- End chat -->
<script>
	const chat = document.querySelector("[data-chat]");
	const chatHeader = chat.querySelector("[data-chat-header]");
	const chatClose = chat.querySelector("[data-close-icon]");
	chatHeader.addEventListener("click", () => {
		console.log("hej");
		chat.classList.toggle("open");
		chatClose.classList.toggle("rotate-180");
	});
</script>
</body>
</html>