<div data-tweet-modal-container class="sticky top-0 hidden backdrop">
	<aside data-tweet-modal class="bg-black w-[38rem] absolute_center rounded-2xl">
		<i data-tweet-modal-close class="pt-4 pl-4 cursor-pointer fa-solid fa-xmark"></i>
		<div class="flex gap-4 p-4">
			<div class="w-12 overflow-hidden rounded-full h-fit shrink-0">
				<img class="w-full" src="./images/default_profile.png" alt="" />
			</div>
			<form action="/tweet" method="GET" class="flex flex-col w-full">
				<div
					class="flex items-center gap-2 px-3 py-0.5 text-xs border rounded-full w-fit border-neutral-600 text-sky-500 cursor-not-allowed"
				>
					Everyone
					<i class="fa-solid fa-chevron-down"></i>
				</div>
				<textarea
					name="message"
					id="message"
					placeholder="What's happening"
					class="outline-none h-auto min-h-[10rem] resize-none bg-inherit mt-7"
				></textarea>
				<div class="flex gap-2 p-3 text-sm w-fit text-sky-500 cursor-not-allow">
					<span class="cursor-not-allow"><i class="ed fa-solid fa-earth-americas"></i></span>
					Everyone can reply
				</div>
				<div class="flex gap-4 border-t border-neutral-800 pt-5 [&>i]:pt-[0.5px]">
					<i class="pl-2 fa-regular fa-image text-sky-400"></i>
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-sky-400" viewBox="0 0 24 24">
						<path
							fill="currentColor"
							d="M8.5 14h1q.425 0 .713-.288q.287-.287.287-.712v-1h-1v1h-1v-2h2q0-.425-.287-.713Q9.925 10 9.5 10h-1q-.425 0-.712.287q-.288.288-.288.713v2q0 .425.288.712q.287.288.712.288Zm3 0h1v-4h-1Zm2 0h1v-1.5H16v-1h-1.5V11h2v-1h-3ZM5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Zm0-2h14V5H5v14ZM5 5v14V5Z"
						/>
					</svg>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="w-6 h-6 text-sky-400"
						viewBox="0 0 256 256"
					>
						<path
							fill="currentColor"
							d="M216 164h-21.2a28 28 0 0 0-53.6 0H40a8 8 0 0 0 0 16h101.2a28 28 0 0 0 53.6 0H216a8 8 0 0 0 0-16Zm-48 20a12 12 0 1 1 12-12a12 12 0 0 1-12 12ZM40 92h37.2a28 28 0 0 0 53.6 0H216a8 8 0 0 0 0-16h-85.2a28 28 0 0 0-53.6 0H40a8 8 0 0 0 0 16Zm64-20a12 12 0 1 1-12 12a12 12 0 0 1 12-12Z"
						/>
					</svg>
					<i class="fa-regular fa-face-smile text-sky-400"></i>
					<i class="fa-regular fa-calendar text-sky-400"></i>
					<i class="fa-solid fa-location-dot text-sky-400 opacity-60"></i>
					<div class="flex items-center justify-end w-full gap-2">
						<div class="rounded-full bg-neutral-700">
							<div
								class="character_progress rounded-full w-6 h-6 bg-sky-500 relative after-content-[''] after:top-1/2 after:left-1/2 after:bg-black after:h-3/4 after:w-3/4 after:block after:absolute after:rounded-full after:-translate-x-1/2 after:-translate-y-1/2"
							></div>
						</div>
						<button
							type="submit"
							class="px-4 py-2 text-sm transition duration-200 rounded-full bg-sky-400 hover:bg-sky-500"
						>
							Tweet
						</button>
					</div>
				</div>
			</form>
		</div>
	</aside>
</div>
